body{
    background-color: #93ae55;
}

.titulo{
    font-family: "Rubik",sans-serif;
    color: whitesmoke;
    text-align: center;
    margin-top: 25px;
}

.row{
    margin-top: 20px;
}

.btn-color{
    background-color: #ff3366;
    border-color: #ff3366;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover{
    background-color: #f4d35e;
    border-color: #f4d35e;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
